    /* Set the initial position and size of the SVG wrapper */
    #svg-wrapper {
        width: 100%;
        /* Occupies the entire column width */
        height: 200px;
        /* Initial height */
        animation: shrinkAnimation 2s ease-in-out forwards;
        transform-origin: top;
        display: flex;
        align-items: flex-start;
        /* Align SVG to the top of the wrapper */
        margin-left: -15em;
    }

    /* SVG styles */
    #Layer_1-2 .cls-1 {
        fill: #7158a6;
        font-family: ShagadelicBold, Shagadelic;
        font-size: 200px;
        isolation: isolate;
    }

    .svg-row {
        min-height: 30em;
    }

    /* Shrink animation for the SVG wrapper */
    @keyframes shrinkAnimation {
        0% {
            transform: scale(2);
            height: 200px;
            /* Initial height */
        }

        100% {
            transform: scale(0.1);
            /* Adjust the scale factor as needed */
            height: 50px;
            /* Target height */
        }
    }





    /* Set the initial position and size of the SVG wrapper */
    #svg-wrapper2 {
        width: 100%;
        /* Occupies the entire column width */
        height: 130%;
        /* Initial height */
        animation: shrinkAnimation 2s ease-in-out forwards;
        transform-origin: top;
        display: flex;
        align-items: flex-start;
        margin-left: -5em;
        margin-top: -5em;
        /* Align SVG to the top of the wrapper */
    }

    /* SVG styles */
    #Layer_1-2 .cls-1 {
        fill: #7158a6;
        font-family: ShagadelicBold, Shagadelic;
        font-size: 200px;
        isolation: isolate;
    }

    .svg-row {
        min-height: 30em;
    }

    /* Shrink animation for the SVG wrapper */
    @keyframes shrinkAnimation {
        0% {
            transform: scale(2);
            height: 200px;
            /* Initial height */
        }

        100% {
            transform: scale(0.1);
            /* Adjust the scale factor as needed */
            height: 50px;
            /* Target height */
        }
    }




    /* Set the initial position and size of the SVG wrapper */
    #svg-wrapper3 {
        width: 100%;
        /* Occupies the entire column width */
        height: 200px;
        /* Initial height */
        animation: shrinkAnimation 2s ease-in-out forwards;
        transform-origin: top;
        display: flex;
        align-items: flex-start;
        margin-left: 6.5em;
        margin-top: -.12em;
        /* Align SVG to the top of the wrapper */
    }

    /* SVG styles */
    #Layer_1-2 .cls-1 {
        fill: #7158a6;
        font-family: ShagadelicBold, Shagadelic;
        font-size: 150px;
        isolation: isolate;
    }

    .svg-row {
        min-height: 30em;
    }

    /* Shrink animation for the SVG wrapper */
    @keyframes shrinkAnimation {
        0% {
            transform: scale(2);
            height: 100px;
            /* Initial height */
        }

        100% {
            transform: scale(0.005);
            /* Adjust the scale factor as needed */
            height: 30px;
            /* Target height */
        }
    }






    /* Set the initial position and size of the SVG wrapper */
    #svg-wrapper4 {
        width: 100%;
        /* Occupies the entire column width */
        height: 200px;
        /* Initial height */
        animation: shrinkAnimation 2s ease-in-out forwards;
        transform-origin: top;
        display: flex;
        align-items: flex-start;
        margin-left: 13.15em;
        margin-top: -5em;
        /* Align SVG to the top of the wrapper */
    }

    /* SVG styles */
    #Layer_1-2 .cls-1 {
        fill: #7158a6;
        font-family: ShagadelicBold, Shagadelic;
        font-size: 200px;
        isolation: isolate;
    }

    .svg-row {
        min-height: 30em;
    }

    /* Shrink animation for the SVG wrapper */
    @keyframes shrinkAnimation {
        0% {
            transform: scale(2);
            height: 200px;
            /* Initial height */
        }

        100% {
            transform: scale(0.1);
            /* Adjust the scale factor as needed */
            height: 50px;
            /* Target height */
        }
    }









    /* Set the initial position and size of the SVG wrapper */
    #svg-wrapper5 {
        width: 100%;
        /* Occupies the entire column width */
        height: 200px;
        /* Initial height */
        animation: shrinkAnimation 2s ease-in-out forwards;
        transform-origin: top;
        display: flex;
        align-items: flex-start;
        margin-left: 22.5em;
        margin-top: -2em;
        /* Align SVG to the top of the wrapper */
    }

    /* SVG styles */
    #Layer_1-2 .cls-1 {
        fill: #7158a6;
        font-family: ShagadelicBold, Shagadelic;
        font-size: 200px;
        isolation: isolate;
    }

    .svg-row {
        min-height: 30em;
    }

    /* Shrink animation for the SVG wrapper */
    @keyframes shrinkAnimation {
        0% {
            transform: scale(2);
            height: 200px;
            /* Initial height */
        }

        100% {
            transform: scale(0.1);
            /* Adjust the scale factor as needed */
            height: 50px;
            /* Target height */
        }
    }
