.steen {
    margin-top: 1em;
}

.peter {
    margin-top: 0em;
}

/* Custom CSS to make rows full-width */
.svg-row,
.steen {
    width: 100vw;
}


/* Media query for larger screens */
@media (max-width: 1300px) {

    .svg-row,
    .steen {
        width: 10vw;
    }
}




/* Set the initial position and size of the SVG wrapper */
#svg-wrapper {

    animation: shrinkAnimation 2s ease-in-out forwards;
    transform-origin: top;
    display: flex;
    align-items: flex-start;
    /* Align SVG to the top of the wrapper */
    margin-left: -10em;

}





/* Shrink animation for the SVG wrapper */
@keyframes shrinkAnimation {
    0% {
        transform: scale(2);
        height: 100em;
        /* Initial height */
    }

    100% {
        transform: scale(1);
        /* Adjust the scale factor as needed */
        height: 100em;
        /* Target height */
    }
}





/* Set the initial position and size of the SVG wrapper */
#svg-wrapper2 {

    animation: shrinkAnimation 2s ease-in-out forwards;
    transform-origin: top;
    display: flex;
    align-items: flex-start;
    margin-left: 5em;
    margin-top: 12.5em;
    /* Align SVG to the top of the wrapper */
}



.svg-row {
    min-height: 5em;
}

/* Shrink animation for the SVG wrapper */
@keyframes shrinkAnimation {
    0% {
        transform: scale(2);
        height: 200px;
        /* Initial height */
    }

    100% {
        transform: scale(.6);
        /* Adjust the scale factor as needed */
        height: 50px;
        /* Target height */
    }
}
